ion-content {
    .title {
        font-size: 2.5em;
        font-weight: bold;
    
    }
    .question {
        font-size: 1.5em;
        color: grey;   
    }

    .results {
        font-size: 1 em;
        color: black;
    }
}