<ion-content class="ion-padding">
    <p class='title'>Animal Quiz</p>

    
    <p class='question'>Results</p>

    <p class='results'>Correct answers: {{correctAnsCounter}} / {{questionCounter}}</p>



    <p class='question'>Correct answers</p>
    <p class='results'>Which animal does not drink water? Kangaroo rat</p>
    <p class='results'>Which animal has no vocal cords? Giraffe</p>
    <p class='results'>Which animal never sleeps? Bullfrog</p>
    <p class='results'>Which is the largest living bird? Ostrich</p>
    <img class="ion-padding" src="../assets/imgs/paw2.png"/>


</ion-content>

