<ion-content class="ion-padding">
        <p class='title'>Animal Quiz</p>
        <p class='question'>Question {{questionCounter}} / {{questions.length}}</p>
        <p class='quiz'>
        <ion-icon class='icon' name="paw"></ion-icon>"{{activeQuestion?.animal}}"</p>

        <ion-list>
                  <ion-radio-group>
                        <ion-item *ngFor="let option of activeQuestion?.options; let i=index">
                              <ion-label class='option'>{{option}}</ion-label>
                              <ion-radio [ngClass]="{'nonSelect' :!isAnswered}" [disabled]="isAnswered" (click)="checkOption(i, activeQuestion)"></ion-radio>
                        </ion-item>
                  </ion-radio-group>
            </ion-list>

<p>{{feedback}}</p>
<img src="../assets/imgs/paw2.png"
(click)="setQuestion()" tappable />

<!-- <ion button *ngIf=isAnswered (click)=setuestion(); size='large' color="dark">Next</ion-button> -->
<ion-button (click)="results()" size="large" color="dark"> See results</ion-button>
<!-- <ion-button *ngIf="isLast()" (click)="results()" size="large" color="dark"> See results</ion-button> -->


</ion-content>
 