
<ion-content class="ion-padding">
          <p class='title'>Animal Quiz</p>
          <p class='question'>Think you know everything there is to know about animals?</p>
          <p class='quiz'>Test your knowledge now with this quiz!</p>
          <img class="ion-padding" src="../assets/imgs/paw.png"/>

          <ion-button (click)="question()" size="large" color="dark">START QUIZ</ion-button>
</ion-content>